*.orig
*.rej

# Byte compiled Python files
__pycache__/
*.pyc

.pytest_cache/

# Build & distribution artifacts
build/
dist/
MANIFEST 

*.desktop
*.install
data/appdata.xml
data/mime/meld.xml
deps/*.deb
deps/*/*.deb
deps/*/*.buildinfo
deps/*/*.changes
deps/*/stamp-*
